In [10]:
import pandas as pd 
from matplotlib import pyplot as plt 
import numpy as np 
import matplotlib 
from sqlalchemy import create_engine
%matplotlib inline

In [6]:
''' 
bitconnect to the database 
'''
def get_db_connection():
    username = 'mig'
    password = 'password' 
    host_name = 'localhost'
    port = 5432
    db_name = 'mtg'
    conn_str = 'postgresql://{}:{}@{}:{}/{}'.format(username, password, host_name, port, db_name)

    engine = create_engine(conn_str)
    return engine

In [25]:
'''
read the records
'''

now = pd.Timestamp.now(tz='UTC').date()
now_minus_24_hours = now - pd.Timedelta('%d hours'%(24,))
engine = get_db_connection()

query = '''
SELECT *  
FROM card_listings
WHERE ts::date BETWEEN '%s' AND '%s';
'''%(str(now_minus_24_hours), str(now))

df_db = pd.read_sql_query(query, engine)
engine.dispose()

In [26]:
df_db.dtypes

card_name                              object
ts                        datetime64[ns, UTC]
list_order                              int64
seller_name                            object
seller_sales                            int64
seller_available_items                  int64
item_price                            float64
item_amount                             int64
item_location                          object
item_condition                         object
item_language                          object
item_is_playset                          bool
item_is_foil                             bool
dtype: object

In [27]:
df_db.shape

(29568, 13)

In [29]:
now = pd.Timestamp.now(tz='UTC')
now

Timestamp('2019-10-11 16:29:58.402103+0000', tz='UTC')

In [30]:
pd.to_datetime(now)

Timestamp('2019-10-11 16:29:58.402103+0000', tz='UTC')

In [31]:
now.to_pydatetime()

datetime.datetime(2019, 10, 11, 16, 29, 58, 402103, tzinfo=<UTC>)

In [21]:
#now_date_time_hour = pd.Timestamp(now.year, now.month, now.day, now.hour, minute)tz='UTC'
pd.Timestamp(now.year, now.month, now.day, now.hour, now.minute, now.second)

Timestamp('2019-10-11 16:09:52')

In [9]:
df.head()

,card_name,ts,list_order,seller_name,seller_sales,seller_available_items,item_price,item_amount,item_location,item_condition,item_language,item_is_playset,item_is_foil
0,Snow Covered Island,2019-10-10 16:05:18.268806+00:00,0,toycastle,3356,119357,0,1,,NM,English,False,False
1,Snow Covered Island,2019-10-10 16:05:18.268835+00:00,1,talcoon85,1223,14,0,2,,NM,English,False,False
2,Snow Covered Island,2019-10-10 16:05:18.268842+00:00,2,greggoss,716,920,0,1,,NM,French,False,False
3,Snow Covered Island,2019-10-10 16:05:18.268846+00:00,3,svilla92,282,24,0,1,,NM,Spanish,False,False
4,Snow Covered Island,2019-10-10 16:05:18.268866+00:00,4,Soldatpacif,168,47,0,1,,NM,French,False,False

In [22]:
df = df.copy()set_index(['card_name', 'ts', 'list_order'])
df

                                                                  seller_name  \
card_name           ts                               list_order
Snow Covered Island 2019-10-10 16:05:18.268806+00:00 0              toycastle
                    2019-10-10 16:05:18.268835+00:00 1              talcoon85
                    2019-10-10 16:05:18.268842+00:00 2               greggoss
                    2019-10-10 16:05:18.268846+00:00 3               svilla92
                    2019-10-10 16:05:18.268866+00:00 4            Soldatpacif
...                                                                       ...
                    2019-10-11 15:57:37.323572+00:00 1240        RussianCards
                    2019-10-11 15:57:37.323577+00:00 1241        BaidiukCards
                    2019-10-11 15:57:37.323580+00:00 1242        veganjustice
                    2019-10-11 15:57:37.323584+00:00 1243         Hobby-Games
                    2019-10-11 15:57:37.323588+00:00 1244         Hobby-Games

                                                                 seller_sales  \
card_name           ts                               list_order
Snow Covered Island 2019-10-10 16:05:18.268806+00:00 0                   3356
                    2019-10-10 16:05:18.268835+00:00 1                   1223
                    2019-10-10 16:05:18.268842+00:00 2                    716
                    2019-10-10 16:05:18.268846+00:00 3                    282
                    2019-10-10 16:05:18.268866+00:00 4                    168
...                                                                       ...
                    2019-10-11 15:57:37.323572+00:00 1240                  10
                    2019-10-11 15:57:37.323577+00:00 1241                 277
                    2019-10-11 15:57:37.323580+00:00 1242                   1
                    2019-10-11 15:57:37.323584+00:00 1243               77488
                    2019-10-11 15:57:37.323588+00:00 1244               77488

                                                                 seller_available_items  \
card_name           ts                               list_order
Snow Covered Island 2019-10-10 16:05:18.268806+00:00 0                           119357
                    2019-10-10 16:05:18.268835+00:00 1                               14
                    2019-10-10 16:05:18.268842+00:00 2                              920
                    2019-10-10 16:05:18.268846+00:00 3                               24
                    2019-10-10 16:05:18.268866+00:00 4                               47
...                                                                                 ...
                    2019-10-11 15:57:37.323572+00:00 1240                           246
                    2019-10-11 15:57:37.323577+00:00 1241                          1210
                    2019-10-11 15:57:37.323580+00:00 1242                           492
                    2019-10-11 15:57:37.323584+00:00 1243                       1555046
                    2019-10-11 15:57:37.323588+00:00 1244                       1555046

                                                                 item_price  \
card_name           ts                               list_order
Snow Covered Island 2019-10-10 16:05:18.268806+00:00 0                    0
                    2019-10-10 16:05:18.268835+00:00 1                    0
                    2019-10-10 16:05:18.268842+00:00 2                    0
                    2019-10-10 16:05:18.268846+00:00 3                    0
                    2019-10-10 16:05:18.268866+00:00 4                    0
...                                                                     ...
                    2019-10-11 15:57:37.323572+00:00 1240                38
                    2019-10-11 15:57:37.323577+00:00 1241                40
                    2019-10-11 15:57:37.323580+00:00 1242                40
                    2019-10-11 15:57:37.323584+00:00 1243               100
                    2019-10-11 15:57:37.323588+00:00 1244               300

                                                                 item_amount  \
card_name           ts                               list_order
Snow Covered Island 2019-10-10 16:05:18.268806+00:00 0                     1
                    2019-10-10 16:05:18.268835+00:00 1                     2
                    2019-10-10 16:05:18.268842+00:00 2                     1
                    2019-10-10 16:05:18.268846+00:00 3                     1
                    2019-10-10 16:05:18.268866+00:00 4                     1
...                                                                      ...
                    2019-10-11 15:57:37.323572+00:00 1240                  5
                    2019-10-11 15:57:37.323577+00:00 1241                  1
                    2019-10-11 15:57:37.323580+00:00 1242                  2
                    2019-10-11 15:57:37.323584+00:00 1243                  8
                    2019-10-11 15:57:37.323588+00:00 1244                  8

                                                                item_location  \
card_name           ts                               list_order
Snow Covered Island 2019-10-10 16:05:18.268806+00:00 0
                    2019-10-10 16:05:18.268835+00:00 1
                    2019-10-10 16:05:18.268842+00:00 2
                    2019-10-10 16:05:18.268846+00:00 3
                    2019-10-10 16:05:18.268866+00:00 4
...                                                                       ...
                    2019-10-11 15:57:37.323572+00:00 1240
                    2019-10-11 15:57:37.323577+00:00 1241
                    2019-10-11 15:57:37.323580+00:00 1242
                    2019-10-11 15:57:37.323584+00:00 1243
                    2019-10-11 15:57:37.323588+00:00 1244

                                                                item_condition  \
card_name           ts                               list_order
Snow Covered Island 2019-10-10 16:05:18.268806+00:00 0                      NM
                    2019-10-10 16:05:18.268835+00:00 1                      NM
                    2019-10-10 16:05:18.268842+00:00 2                      NM
                    2019-10-10 16:05:18.268846+00:00 3                      NM
                    2019-10-10 16:05:18.268866+00:00 4                      NM
...                                                                        ...
                    2019-10-11 15:57:37.323572+00:00 1240                   NM
                    2019-10-11 15:57:37.323577+00:00 1241                   NM
                    2019-10-11 15:57:37.323580+00:00 1242                   NM
                    2019-10-11 15:57:37.323584+00:00 1243                   NM
                    2019-10-11 15:57:37.323588+00:00 1244                   NM

                                                                item_language  \
card_name           ts                               list_order
Snow Covered Island 2019-10-10 16:05:18.268806+00:00 0                English
                    2019-10-10 16:05:18.268835+00:00 1                English
                    2019-10-10 16:05:18.268842+00:00 2                 French
                    2019-10-10 16:05:18.268846+00:00 3                Spanish
                    2019-10-10 16:05:18.268866+00:00 4                 French
...                                                                       ...
                    2019-10-11 15:57:37.323572+00:00 1240             Russian
                    2019-10-11 15:57:37.323577+00:00 1241             Russian
                    2019-10-11 15:57:37.323580+00:00 1242             English
                    2019-10-11 15:57:37.323584+00:00 1243             English
                    2019-10-11 15:57:37.323588+00:00 1244             English

                                                                 item_is_playset  \
card_name           ts                               list_order
Snow Covered Island 2019-10-10 16:05:18.268806+00:00 0                     False
                    2019-10-10 16:05:18.268835+00:00 1                     False
                    2019-10-10 16:05:18.268842+00:00 2                     False
                    2019-10-10 16:05:18.268846+00:00 3                     False
                    2019-10-10 16:05:18.268866+00:00 4                     False
...                                                                          ...
                    2019-10-11 15:57:37.323572+00:00 1240                  False
                    2019-10-11 15:57:37.323577+00:00 1241                  False
                    2019-10-11 15:57:37.323580+00:00 1242                  False
                    2019-10-11 15:57:37.323584+00:00 1243                  False
                    2019-10-11 15:57:37.323588+00:00 1244                  False

                                                                 item_is_foil
card_name           ts                               list_order
Snow Covered Island 2019-10-10 16:05:18.268806+00:00 0                  False
                    2019-10-10 16:05:18.268835+00:00 1                  False
                    2019-10-10 16:05:18.268842+00:00 2                  False
                    2019-10-10 16:05:18.268846+00:00 3                  False
                    2019-10-10 16:05:18.268866+00:00 4                  False
...                                                                       ...
                    2019-10-11 15:57:37.323572+00:00 1240                True
                    2019-10-11 15:57:37.323577+00:00 1241                True
                    2019-10-11 15:57:37.323580+00:00 1242                True
                    2019-10-11 15:57:37.323584+00:00 1243               False
                    2019-10-11 15:57:37.323588+00:00 1244                True

[29568 rows x 10 columns]